<div class="container" id="card-container">
    <% data.cards.each do |card| %>
      <!-- insert <div class="card"> -->
        <a href="<%= card.name %>.html" class="title"><h3><%= card.name %></h3></a>
        <hr class="hidden-xs">
    <% end %>
</div>
