<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo1.png" %>
  </a>
    <!-- <h1>Bella Cha | Junior Web Developer</h1> -->

  <div class="navbar-wagon-right">
    <p>Bella Cha | Web Developer</p><!--
    <%= link_to "Github", "https://github.com/mbcha", class: "navbar-wagon-item navbar-wagon-link", target: :blank %>
    <%= link_to "LinkedIn", "https://www.linkedin.com/in/bella-cha-097385a0/", class: "navbar-wagon-item navbar-wagon-link", target: :blank %> -->
  </div>
</div>
