.card {
  background: white;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-contact {
  width: 90%;
  flex-grow: 1;
  width: auto;
  // height: 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.card-grid {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 70% 30%;
  // text-align: center;
  // margin: 150px 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.card-info {
  flex-grow: 1;
  width: 90%;
  height: 100%;
  text-align: center;
  p {
    margin: 30px 0;
    letter-spacing: 3px;
  }
  h1 {
    font-size: 40px;
    height: auto;
  }
  h3{
    padding: 0 10px;
  }
}
.card-projects {
  // width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.banner-links {
  padding: 50px;
}
.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  // min-height: 600px;
  min-height: 550px;
  height: 100%;
  width: auto;
}
.card-icon {
  padding: 5px;
  margin: 10px 0;
  font-size: 30px;
  color: #46DDD4;
  transition: text-shadow 0.4s;
  transform: perspective(1px) translateZ(0);
  // box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  &:hover {
    // text-shadow: 2px 2px $light-gray;
    transform: translateY(-3px);
    font-size: 40px;

  }
}
.main-card-right {
  // height: 100%;
  // min-width: 500px;
  width: 50%;
}
.main-card-left {
  // min-width: 500px;
  // height: 120%;
  width: 30%;
}
// @media screen and (max-width: 800px) {
//   .main-card {
//     width: 80%;
//     height: 80%;
//   }
//   .card-contact {
//     height: 40%;
//   }
// }
@media all and (max-width: 750px) {
  .main-card {
    width: 80%;
    height: 80%;
  }
  .card-contact {
    width: 90%;
  }
  .card-info {
    width: 90%;
  }
  .card-projects {
    width: 90%;
  }
}
@media all and (min-width: 750px) {
/* CSS rules here for screens above 750px */
}
