.blue-five {
  background-color: #243C56;
}
.blue-four {
  background-color: #224272;
}
.blue-three {
  background-color: #2D5BA3;
}
.blue-two {
  background-color: #3973C9;
}
.color {
  height: 200px;
  width: 200px;
}
