.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  border-top: 1px solid rgba(70,221,212,0.6);
  padding-top: 20px;
  margin-bottom: 40px;
}
.project {
  width: 300px;
  height: 250px;
  margin-top: 20px;
  background-position: center;
  background-size: cover;
  background-color: $background-gray;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;
  h2 {
    font-size: 40px;
    color: $light-gray;
    font-weight: 800;
  }
  &:hover {
    text-decoration: none;

    .project-hover {
      opacity: 0.25;
      transition: all 2s;
    }
    .project-description {
      opacity: 0.95;
    }
    .project-info h2 {
      text-decoration: none;
      position: absolute;
      top: 20px;
      margin: auto;
      color: $light-gray;
      font-size: 40px;
    }
    .project-background {
      opacity: 0;
    }
  }
}

.project-hover {
  position: absolute;
  opacity: 0;
  background-color: $link-green;
  height: 100%;
  width: 100%;
  border-radius: 0 0 50% 50%;
  transition: all 0.7s;
  // z-index: 2;
}
.project-description {
  color: $gray;
  opacity: 0;
  background: white;
  text-align: justify;
  margin: 10px;
  position: absolute;
  left: 0;
  width: auto;
  bottom: 5%;
  border-radius: 3px;
  padding: 10px 0;
  transition: all 0.9s;
  z-index: 3;
  padding-right: 20px;
  padding-top: 20px;
}
.project-info {
  width: 300px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  h2 {
    position: absolute;
    top: 35%;
    z-index: 1;
    transition: all 0.9s;
  }
}
.project-icon {
  margin-left: 10px;
}

.project-background {
  transition: all 0.5s;
  font-size: 250px;
  color: $lighter-gray;
}
.fa-wrench {
  padding-top: 10px;
  font-size: 230px;
}
