body {
  background-color: $background-gray;
  color: $gray;
  line-height: 15px;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 20px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}

p {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: $link-green;
}

a:hover {
  text-decoration: none;
}


.text-inline {
  display: inline-block;
  padding: 0 35px;
}
.wrapper {
  background-color: $background-gray;
}
.container {
  display: flex !important;
}
.lewagon-link {
  &:hover {
    text-decoration: none;
    color: $link-green;
    border-bottom: 2px solid $link-green;
  }
  &:focus {
    text-decoration: none;
  }
}
.email-link {

}
